.link {
  text-decoration: none;
  color: #fd9c63;
}
.header__container > h1 {
  color: #fd9c63;
  text-align: center;
}
.header__container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-left: 1rem;
  padding-right: 2rem;
}
