@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;700;900&display=swap");

:root {
  --blue: #3ec1d3;
  --white: #ffffff;
  --beige: #f6f7d7;
  --orange: #fd9c63;
}

body {
  margin: 0;
  font-family: "Poppins", sans-serif;
}
